body{
    background: silver;
    font-family: "arial black";
}

p{
    color: green;
    font-style: italic;
    font-family: "monotype corsiva";
}

h3, h4{
    font-family: arial;

}

h3{
    color: blue;
}

h4{
    color: yellow;
}

li{
    font-size: 12px;
}